img {
    max-width: 100%;
    height: auto;
    z-index: 1;

}

figure {
    margin: 0;
}

figcaption {
    font-size: var(--legendes);
    color: var(--blanc);
}

.line_img {
    position: absolute;
    z-index: 2;
    opacity: 0.7;
}

 .galerie_normal {
     width: 305px;
     height: auto;
 }

 .galerie_small {
     width: auto;
     height: 120px;
 }

 .line_quote {
     position: relative;
     height: 500px;
     z-index: 1;
     margin-top: -100px;
     
 }

 .img_online {
     z-index: 2;
     position: absolute;
     margin-top: 40px;
 }