

.footer {
    background-color: var(--principale-2);
    padding: 10px;
  }
  
  footer a {
    text-decoration: none;
    
  }

  /* .footer_contact{
    appearance: none;
    background-color: var(--noir);
    height: 33px;
    width: 107px;
    text-align: center;
    margin-left: 245px;
    display: table;
    padding: 0;
    font-family: 'OpenSans', sans-serif;
    z-index: 7;
    margin-top: -175px;
    clip-path: path("M0 2L106.5 0L100 46H0V2Z");
    position: absolute;
  }
   */
  .link_contact{
    display: block;
    text-decoration: none;
    font-size: var(--suite);
    color: #fff;
    background-color: var(--noir);
    clip-path: path("M0 2L106.5 0L100 46H0V2Z");
    text-align: center;
    width: 90px;
    margin: 10px;
    justify-content: space-between;
    margin-left: 20px;  

  }

  
  
  footer p {
    font-size: var(--btn-footer);
    font-family: 'Helvetica Neue', sans-serif;
    font-style: italic;
  }

  .footer__social{
    display: flex;
    margin: 10px;
    gap: 3vw;
    margin-top: 100px;
    width: 120px;
}


  .mail {
    width: 38px;
  }
  
  .footer__title {
    color: white;
    margin-top: 0;
    text-transform: uppercase;
    font-size: var(--text-sm);
    letter-spacing: var(--letter-spacing);
  }
  
  .footer > *:not(:first-child) {
    margin-top: var(--space3x);
  }
   
  .footer_line {
    position: relative;
    z-index: 2;
    width: 60%;  
    left: 60px;
    content: '';
    margin-top: auto;
    background: salmon;
    height: 1px;
    position: absolute;
  }

  .mail {
    width: 48px;
  }