

.footer {
    background-color: var(--principale-2);
    padding: 10px;
  }
  
  .footer h1 {
    top: 20px;
    font-size: 30px;
    z-index: 4;
    font-size: 60px;
    font-family: 'Permanent Marker', sans-serif;  
    text-align: center;
    margin-top: 50px;
    left:20px; top: -100px;
  }
  footer a {
    text-decoration: none;
    
  }

  .footer_contact{
    appearance: none;
    background-color: var(--noir);
    height: 33px;
    width: 107px;
    text-align: center;
    margin-left: 245px;
    display: table;
    padding: 0;
    font-family: 'OpenSans', sans-serif;
    z-index: 50;
    margin-top: -175px;
    clip-path: path("M0 2L106.5 0L100 46H0V2Z");
    position: absolute;
  }
  
  .link_contact{
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    font-size: var(--suite);
    color: #fff;
    float: inline-end;
    justify-content: space-between;   
    
  }
  
  footer p {
    font-size: var(--mentions-légales);
    font-family: 'Helvetica Neue', sans-serif;
    font-style: italic;
  }
  .footer__list {
    display: flex;
    gap: var(--space3x);
  }
  
  .footer__list img {
    filter: invert(60%);
  }
  .footer__social{
    display: flex;
    width: 100%;
    margin: 10px;
    justify-content: space-between;
    gap: 3vw;
}


.footer__icon{
    display: flex;
    height: 32px;
    width: auto;
}
footer li{
  display: block;
  margin-top: 0;
}

footer ul{
  list-style: none;
  padding: 20px 125px ;
  width: 120px;
  text-align: center;
  justify-content: center;
}

 .footer__name {
  color: white;

 }

  .mail {
    padding-left: 100px;
  }
  
  .footer__title {
    color: white;
    margin-top: 0;
    text-transform: uppercase;
    font-size: var(--text-sm);
    letter-spacing: var(--letter-spacing);
  }
  
  .footer > *:not(:first-child) {
    margin-top: var(--space3x);
  }
   
  .footer_line {
    position: relative;
    z-index: 2;
    width: 60%;  
    left: 60px;
    content: '';
    margin-top: auto;
    background: salmon;
    height: 1px;
    position: absolute;
  }